{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 75,
    "htmlWhitespaceSensitivity": "ignore",
    "svelteSortOrder": "options-scripts-markup-styles",
    "svelteIndentScriptAndStyle": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/routes/style/layout.css"
}
